@use "variables" as *;

body.auth {
	background: $c-medium;
}

.login,
.signup {
	margin: 20px auto 0 auto;
	width: 100%;
	padding: 15px;
	max-width: 300px;

	.login__options,
	.signup__options {
		margin-top: 30px;
		border-top: 1px solid $c-medium;
		padding-top: 10px;
		display: flex;
		flex-direction: column;

		a {
			margin-top: 10px;
		}
	}

	.login__response,
	.signup__response {
		border: 1px solid $c-alert;
		background-color: lighten($c-alert, 30%);
		padding: 15px;
		margin-bottom: 20px;
	}
}
