@use "variables" as *;
@use "breakpoints" as *;

.post {
	position: relative;
	font-size: 18px;
	line-height: 30px;
	padding-top: 30px;
	margin-bottom: 30px;

	> h2 {
		position: relative;
		margin-top: 0;
		margin-bottom: 60px;

		&::after {
			content: "";
			position: absolute;
			bottom: -15px;
			left: calc(1065px / 2 - 50vw);
			right: 0;
			width: calc(700px + 50vw - 1065px / 2);
			border-top: 1px solid $c-medium;
		}
	}
}

.post__content {
	p {
		margin-bottom: 1em;
	}
}

.post__meta {
	color: $c-medium;
}

@include breakpoint(desktop) {
	.post__columns {
		display: flex;
	}

	.post__content {
		width: 700px;
	}

	.post__meta {
		width: 335px;
		padding-left: 30px;
	}
}
