@use "variables" as *;

h1, h2, h3, h4, h5, h6 {
	color: $c-dark;
	font-weight: bold;
	margin: 1em 0 1.5em 0;

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 22px;
}

a {
	color: $c-accent;
	transition: 0.1s color ease-out;

	&:hover {
		color: $c-dark;
	}
}
