$c-light:  #FDFDFF;
$c-medium: #aaa;
$c-dark:   #404040;
$c-accent: #0089c7;
$c-alert:  #eb6543;

$f-sans: "Source Sans", sans-serif;
$f-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$f-monospace: menlo, courier, monospace;
