<form action="<%= post.edit_url %>" method="post">
	<h2>Edit post</h2>
	<label>
		Title
		<input type="text" name="title" value="<%= post.title %>">
	</label>
	<% for (let field of post.attributes.fields) { %>
		<%- include(`edit/${field.type}`, {
			field: field
		}); %>
	<% } %>
	<input type="submit" value="Save">
</form>
