<form action="<%= post.edit_url %>" method="post">
	<% if (post.id == 'new' && site.options.initialize < 3) { %>
		<h2>Write your first post</h2>
	<% } else if (post.id == 'new') { %>
		<h2>New post</h2>
	<% } else { %>
		<h2>Edit post</h2>
	<% } %>
	<div class="field">
		<label>
			Title
			<input type="text" name="title" value="<%= post.title %>">
		</label>
	</div>
	<% for (let field of post.attributes.fields) { %>
		<div class="field">
			<%- include(`edit/${field.type}`, {
				field: field
			}); %>
		</div>
	<% } %>
	<input type="submit" value="Save">
</form>
