<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hello</title>
		<link rel="stylesheet" href="/static/main.css">
		<link rel="icon" href="/static/img/pepperweed.png">
	</head>
	<body>
		<div class="page">
			<header class="header">
				<h1 class="header__title"><a href="/">Dan Phiffer</a></h1>
				<div class="header__nav">
					<% if (user) { %>
						<a href="/logout">Logout</a>
					<% } else { %>
						<a href="/signup">Sign up</a>
						<a href="/login">Login</a>
					<% } %>
				</div>
			</header>
			<%- body %>
		</div>
		<script src="/static/main.js"></script>
	</body>
</html>
