<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hello</title>
		<link rel="stylesheet" href="/main.css">
		<link rel="icon" href="/img/pepperweed.png">
	</head>
	<body>
		<div class="page">
			<% if (header) { %>
				<header class="header">
					<h1 class="header__title"><a href="/">Dan Phiffer</a></h1>
				</header>
			<% } %>
			<%- body %>
		</div>
	</body>
	<script src="/main.js"></script>
</html>
