<form action="/settings" method="post" class="settings">
	<h2>Settings</h2>
	<label>
		Site title
		<input type="text" name="title" value="<%= site.title %>">
	</label>
	<label>
		Send email from
		<input type="text" name="fromEmail" value="<%= site.fromEmail %>">
	</label>
	<label>
		SMTP config
		<input type="text" name="smtpConfig" value="<%= site.smtpConfig %>">
	</label>
	<% if (feedback) { %>
		<div class="feedback">
			<%= feedback %>
		</div>
	<% } %>
	<input type="submit" value="Save">
</form>
