<div class="login">
	<form action="/login" method="post" class="login__form">
		<input type="hidden" name="redirect" value="<%= redirect %>">
		<h2>Login to your account</h2>
		<label>
			Email address
			<input type="text" name="email" value="<%= values.email %>">
		</label>
		<label>
			Password
			<input type="password" name="password" value="<%= values.password %>">
		</label>
		<% if (response) { %>
			<div class="login__response">
				<%= response %>
			</div>
		<% } %>
		<input type="submit" value="Login">
	</form>
	<div class="login__options">
		<a href="/password_reset">Forget your password?</a>
		<a href="/signup">Sign up for a new account</a>
	</div>
</div>
