<div class="login">
	<form action="/login" method="post" class="login__form">
		<label>
			Username
			<input type="text" name="username">
		</label>
		<label>
			Password
			<input type="password" name="password">
		</label>
		<% if (response) { %>
			<div class="login__response">
				<%= response %>
			</div>
		<% } %>
		<input type="submit" value="Login">
	</form>
	<div class="login__options">
		<a href="/password_reset">Forget your password?</a>
		<a href="/signup">Sign up for an account</a>
	</div>
</div>
