<div class="password">
	<form action="/password/<%= id %>" method="post" class="password__form">
		<h2>Reset your password</h2>
		<p>Check your email for a password reset code and enter it below.</p>
		<label>
			Reset Code
			<input type="text" name="code" placeholder="000000" class="reset-code">
		</label>
		<% if (feedback) { %>
			<div class="feedback">
				<%= feedback %>
			</div>
		<% } %>
		<input type="submit" value="Submit">
	</form>
</div>
