<div class="password">
	<form action="/password" method="post" class="password__form">
		<h2>Reset your password</h2>
		<label>
			Email address
			<input type="text" name="email" value="<%= values.email %>">
		</label>
		<% if (feedback) { %>
			<div class="feedback">
				<%= feedback %>
			</div>
		<% } %>
		<input type="submit" value="Submit">
	</form>
</div>
