<div class="password">
	<form action="/password/reset" method="post" class="password__form">
		<h2>Reset your password</h2>
		<label>
			New password
			<input type="password" name="password">
		</label>
		<label>
			New password again
			<input type="password" name="password_again">
		</label>
		<% if (feedback) { %>
			<div class="feedback">
				<%= feedback %>
			</div>
		<% } %>
		<input type="submit" value="Reset Password">
	</form>
</div>
